* {
    padding: 0;
    margin: 0;
}

.checkerboard {
    max-width: 512px;
    min-width: 256px;

    width: 80%;
    aspect-ratio: 1/1;
}

.checkerboard-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.background {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: auto 1fr;
    height: 100dvh;
    width: 100%;
    background: #0f0c29;

    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.content {
    display: grid;

    grid-template-columns: 1fr;
}

.settings {
    display: grid;
    width: 100%;

    grid-template-columns: 1fr;
    background-color: slategrey;
    background: #5C258D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4389A2, #5C258D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4389A2, #5C258D);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.settings form {
    /* border: solid red 0.5rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-items: stretch; */

    justify-items: start;
    margin-block: auto;
    margin-inline: 2rem;
    align-items: center;
}

.settings form>* {
    margin-block: 0.25rem;
}

.settings form>label {
    color: white;
}

.settings form>label {
    color: white;
}

img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (min-width: 992px) {
    .content {
        display: grid;
        grid-template-columns: 1fr auto;
        overflow: auto;
    }

    .settings {
        width: 400px;
        overflow-y: scroll;

        /* IE and Edge */
        -ms-overflow-style: none;

        /* Firefox */
        scrollbar-width: none;
    }
}

.settings::-webkit-scrollbar {
    display: none;
}

.settings>* {
    margin-block: 0.5rem;
    margin-inline: 1rem;
}